<div class="topbar">
  <div class="d-flex justify-content-between">
    <h1 class="align-self-center"><a class="topbar-logo" routerLink="">Critical Projections</a></h1>
    <div class="align-self-center">
      <a class="btn btn-outline-primary"
         [hidden]="userLoggedIn"
         routerLink="/login"
         type="button">
        Sign in
      </a>
      <a class="btn btn-outline-primary"
         [hidden]="!userLoggedIn"
         routerLink="/profile/{{this.currentUser.id}}/settings"
         type="button">
        {{currentUser.username}}
      </a>
      <button class="btn btn-outline-danger"
              [hidden]="!userLoggedIn"
              (click)="logout()"
              type="button">
        Logout
      </button>
    </div>
  </div>
</div>
