<div class="container">
  <div class="jumbotron bg-dark text-white">
    <div class="container">
      <h1 class="display-4">{{movie.Title}} ({{movie.Year}})</h1>
      <hr class="my-4 bg-white"/>
      <p class="lead">{{movie.Rated}}  |  {{movie.Runtime}}  |  {{movie.Genre}}  |  {{movie.Released}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src= {{movie.Poster}}>
    </div>
    <div class="col">
      <div class="jumbotron bg-dark text-white align-middle">
        <div class="container">
          <h1>Plot</h1>
          <hr class="my-4 bg-white"/>
          <p class="custom-control-inline">{{movie.Plot}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Director: {{movie.Director}}</h4>
    <h4>Writer: {{movie.Writer}}</h4>
    <h4>Lead Actors: {{movie.Actors}}</h4>
  </div>
  <div class="container">
    <h1>Scores</h1>
    <ul class="list-group">
      <li key='us' class="list-group-item"
      *ngFor="let rating of movie.Ratings">
        <h3>{{rating.Source}}:    {{rating.Value}}</h3>
      </li>
      <li key='us' class="list-group-item">
        <h3>Our Score:    6.5/10</h3>
      </li>
    </ul>
  </div>
  <div class="container">
    <h1>Leave A Review</h1>
    <form>
      <div class="form-row">
        <div class="col">
          <label for="inputTitle">Title</label>
          <input name="inputTitle" id="inputTitle" type="text" class="form-control" placeholder="Title"
          [(ngModel)]="this.title">
        </div>
        <div class="col">
          <label for="inputScore">Score</label>
          <select name="inputScore" id="inputScore" class="form-control" [(ngModel)]="this.rating">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
      <label for="inputReview">Review</label>
      <textarea name="inputReview" id="inputReview" type="text" class="form-control" placeholder="Review"
      [(ngModel)]="this.body"></textarea>
    </form>
    <button class="btn btn-success" (click)="this.postReview()">Post</button>
  </div>
  <div class="container">
    <h1>Top Reviews</h1>
    <ul class="list-unstyled">
      <app-review-media *ngFor="let review of this.reviews" [review] = review></app-review-media>
    </ul>
    <a routerLink="/search/movies/{{movie.imdbID}}/reviews" >See more</a>
  </div>
</div>
