<div class="container">
  <div class="jumbotron bg-dark text-white">
    <div class="container">
      <h1 class="display-4">{{movie.Title}} ({{movie.Year}})</h1>
      <hr class="my-4 bg-white"/>
      <p class="lead">{{movie.Rated}}  |  {{movie.Runtime}}  |  {{movie.Genre}}  |  {{movie.Released}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src= {{movie.Poster}}>
    </div>
    <div class="col">
      <div class="jumbotron bg-dark text-white align-middle">
        <div class="container">
          <h1>Plot</h1>
          <hr class="my-4 bg-white"/>
          <p class="custom-control-inline">{{movie.Plot}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Director: {{movie.Director}}</h4>
    <h4>Writer: {{movie.Writer}}</h4>
    <h4>Lead Actors: {{movie.Actors}}</h4>
  </div>
  <div class="container">
    <h1>Scores</h1>
    <ul class="list-group">
      <li key='us' class="list-group-item"
      *ngFor="let rating of movie.Ratings">
        <h3>{{rating.Source}}:    {{rating.Value}}</h3>
      </li>
      <li key='us' class="list-group-item">
        <h3>Our Score:    6.5/10</h3>
      </li>
    </ul>
  </div>
  <div class="container">
    <h1>Top Reviews</h1>
    <ul class="list-unstyled">
      <li class="media">
        <img src="https://i.stack.imgur.com/l60Hf.png"
             class="align-self-center mr-3" alt="..." height="80" width="80"/>
        <div class="media-body">
          <h3 class="mt-0 mb-1">1.6</h3>
          <h5 class="mt-0 mb-1">Meh... The Boat Sinks</h5>
          What the title says... pretty boring until that part. Some kind
          of love story or something? Idk, I fell asleep.
        </div>
      </li>
      <li class="media my-4">
        <img src="https://i.stack.imgur.com/l60Hf.png"
             class="align-self-center mr-3" alt="..." height="80" width="80"/>
        <div class="media-body">
          <h3 class="mt-0 mb-1">9.8</h3>
          <h5 class="mt-0 mb-1">Made Me Feel Emotion Again</h5>
          When I say that this movie changed my life, I mean it!  I never thought
          that I would cry at the theater but it was like there were thousands of
          ninjas cutting onions.  So moving and touching.  A must watch for any
          fans of boat romance!
        </div>
      </li>
      <li class="media">
        <img src="https://i.stack.imgur.com/l60Hf.png"
             class="align-self-center mr-3" alt="..." height="80" width="80"/>
        <div class="media-body">
          <h3 class="mt-0 mb-1">5.6</h3>
          <h5 class="mt-0 mb-1">SCARY!!!</h5>
          Never going on a cruise again!  They have this listed as a romance/drama.
          I mean it when I say that this was some of the scariest $#*% that I have ever seen.
          Legitimately caused me Thalassophobia.  I hate you James Cameron!
        </div>
      </li>
    </ul>
    <a routerLink="/search/movies/{{movie.imdbID}}/reviews" >See more</a>
  </div>
</div>
