<div class="container">
  <h1>Sign Up</h1>
  <form>
    <div class="form-group row">
      <label htmlFor="username" class="col-sm-2 col-form-label">
        Username </label>
      <div class="col-sm-10">
        <input class="form-control"
               id="username"
               placeholder="Username">
      </div>
    </div>
    <div class="form-group row">
      <label htmlFor="password" class="col-sm-2 col-form-label">
        Password </label>
      <div class="col-sm-10">
        <input type="password" class="form-control"
               id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <a href="../profile/profile.template.client.html"
           class="btn btn-primary btn-block">Create Account</a>
        <a href="../login-page/login-page.component.html"
           class="float-right">Sign In</a>
      </div>
    </div>
  </form>
</div>
