<div class="container">
  <h1>Create Account</h1>
  <form>
    <div class="form-group row">
      <label for="username"
             class="col-sm-2 col-form-label">
        Username
      </label>
      <div class="col-sm-10">
        <input [(ngModel)]="username"
               (ngModelChange)="validUsernameCheck()"
               name="username"
               class="form-control"
               id="username"
               placeholder="Username">
      </div>
    </div>
    <div class="form-group row">
      <label for="password"
             class="col-sm-2 col-form-label">
        Password
      </label>
      <div class="col-sm-10">
        <input type="password"
               class="form-control"
               id="password"
               placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <label for="confirmPassword"
             class="col-sm-2 col-form-label">
        Confirm Password
      </label>
      <div class="col-sm-10">
        <input type="password"
               class="form-control"
               id="confirmPassword"
               placeholder="Confirm Password">
      </div>
    </div>
    <div class="form-group row">
      <label for="role"
             class="col-sm-2 col-form-label">
        Role
      </label>
      <div class="col-sm-10">
        <select name="Role" class="form-control" id="role">
          <option selected>Select account type</option>
          <option value="admin">Admin</option>
          <option value="verifiedCritic">Verified Critic</option>
          <option value="reviewer">Reviewer</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary btn-block">
          Sign Up
        </button>
        <a routerLink="/login" class="float-right">
          Login
        </a>
      </div>
    </div>
  </form>
</div>
