<li key='us' class="media my-4">
  <img [src]="profilePic"
       class="mr-3" alt="..." height="80" width="80"/>
  <div class="media-body">
    <div [hidden]="this.editing">
      <a routerLink="/profile/{{this.review.userId}}/reviews">{{this.username}}</a>
      <h3 class="mt-0 mb-1">{{review.rating}}
        <button [hidden]="!this.showEditAndDelete()" class="btn btn-danger float-right btn-sm"
                (click)="this.deleteReview()">Delete</button>
        <button [hidden]="!this.showEditAndDelete()" class="btn btn-success float-right btn-sm"
                (click)="this.editReview()">Edit</button>
        <i [hidden]="!this.review.criticReview" class="fa fa-star float-right" style="color: gold"></i></h3>
      <h5 class="mt-0 mb-1">{{review.title}}</h5>
      {{this.review.body}}
    </div>
    <div [hidden]="this.editing">
    <i style="color: black" class="fa fa-thumbs-up" [hidden]="liked" (click)="like()"></i>
      {{review.likes}}
      <i style="color: black" class="fa fa-thumbs-down" [hidden]="disliked" (click)="dislike()"></i>
    </div>

    <form [hidden]="!this.editing">
      <div class="form-row">
        <div class="col">
          <label for="inputTitle">Title</label>
          <input name="inputTitle" id="inputTitle" type="text" class="form-control" placeholder="Title"
                 [(ngModel)]="this.review.title">
        </div>
        <div class="col">
          <label for="inputScore">Score</label>
          <select name="inputScore" id="inputScore" class="form-control" [(ngModel)]="this.review.rating">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
      <label for="inputReview">Review</label>
      <textarea name="inputReview" id="inputReview" type="text" class="form-control" placeholder="Review"
                [(ngModel)]="this.review.body"></textarea>
    </form>
    <button class="btn btn-success" [hidden]="!this.editing" (click)="this.update()">Save</button>

    <ul class="list-unstyled">
      <app-comment (deleteCommentEvent)="this.reload()" *ngFor="let comment of this.comments" [comment]="comment"></app-comment>
    </ul>
    <button class="btn btn-link" [hidden]="this.commentsToShow > 0" (click)="this.moreComments()">Show Comments</button>
    <button class="btn btn-link" [hidden]="this.commentsToShow == 0" (click)="this.moreComments()">More Comments</button>
    <button class="btn btn-link" [hidden]="this.commentsToShow == 0" (click)="this.fewerComments()">Fewer Comments</button>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Add a comment" aria-label="Add a comment"
             aria-describedby="basic-addon2" [(ngModel)]="this.newComment">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button"
                (click)="this.postComment()">Post</button>
      </div>
    </div>
  </div>
</li>

