<div class="container">
  <h1>Profile</h1>
  <ul class="nav nav-item">
    <li class="nav-item">
      <a class="nav-link">
        <button [ngClass]="{'btn-primary': !this.settings}"
          class="btn" (click)="switchToSettings()">
          Profile Information
        </button>
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link">
        <button [ngClass]="{'btn-primary': !this.reviews}"
          class="btn" (click)="switchToReviews()">
          User Reviews
        </button>
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link">
        <button [ngClass]="{'btn-primary': !this.comments}"
          class="btn" (click)="switchToComments()">
          User Comments
        </button>
      </a>
    </li>
  </ul>
  <app-profile-settings-section [hidden]="this.settings"></app-profile-settings-section>
  <app-profile-reviews-section [hidden]="this.reviews"></app-profile-reviews-section>
  <app-profile-comments-section [hidden]="this.comments"></app-profile-comments-section>
</div>
