<div class="container">
  <app-navigation-bar></app-navigation-bar>
  <div class="container">
    <div class="row" style="padding-top: 10px">
      <div class="col-9"></div>
      <div class="col-3">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 placeholder="Movie name"
                 [(ngModel)]="searchTerm"
                 (keypress)="handleKeyPress($event)"/>
          <div class="input-group-append">
            <button type="button"
                    class="btn btn-primary"
                    (click)="searchMovie()">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px">
      <div class="col-md-8 home-layout-cube">
        <div class="">
          <h3>Your hottest reviews</h3>
          <div class="list-group">
            <h6>This movie is great!</h6>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 home-layout-cube">
        <div class="">
          <h3>Your hottest comments</h3>
          <div class="list-group">
            <h6>This review is great!</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px">
      <div class="col-12 col-md-12 home-layout-cube">
        <h3>Hottest Global Reviews</h3>
        <div class="list-group">
          <h6>This movie is great!</h6>
        </div>
      </div>
    </div>
  </div>
</div>
