<div class="media mt-3"
     key="us">
  <img [src]="profilePic"
       class="mr-3" alt="..." height="40" width="40"/>
  <div class="media-body">
    <a routerLink="/user/{{this.comment.userId}}" >{{this.username}}</a>
    <div>
      <h5><i [hidden]="!this.showDelete()" class="fa fa-trash float-right"
             (click)="this.deleteComment()"></i></h5>
      {{this.comment.body}}
    </div>
    <i style="color: black" class="fa fa-thumbs-up"></i>
    {{this.comment.likes}}
    <i style="color: black" class="fa fa-thumbs-down"></i>
  </div>
</div>
